<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">@Config.CompanyName</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
        
    </div>
</header>